<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>百大易购周年庆</title>
    <meta name="format-detection" content="telephone=no, date=no">
</head>
<body>
<div id="app"></div>
<script src="http://stat.allpyra.com/st/1.1.1.js"></script>
<script src="//cdn.bootcss.com/zepto/1.0rc1/zepto.min.js"></script>
<script src="//res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script src="/api/weixin/partake.jsp?op=1"></script>
<script src="//cdn.bootcss.com/underscore.js/1.8.3/underscore-min.js"></script>
<script src="//cdn.bootcss.com/fastclick/1.0.6/fastclick.min.js"></script>

</body>
</html>
